@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", monospace;
}

li.thunderbolt::marker {
  content: "\26A1  ";
  margin: 0 0.5rem 0 0;
  color: #ff7a18;
}
